@import '../../variables.scss';

.ourServices {
    width: 80%;
    margin: 100px 10% 0 10%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 40px;

    h3 {
        text-align: center;
        color: $color-titles;
        font-size: 28px;
        font-weight: 700;
    }

    &__header {
        display: flex;
        margin: 0 10%;
        width: 80%;
        justify-content: center;
        padding: 10px 20px 0 20px;

        & figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 120px;
            border-bottom: 1px solid $color-border;
            width: 150px;
            padding-bottom: 10px;


            & span {
                font-size: 18px;
                font-weight: 400;
                color: $color-secondary;
            }
        }

        .Website {
            position: relative;

            ::before {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                height: 6px;
                background-color: $color-buttons;
                border-radius: 6px;
                bottom: -3px;

            }



            span {
                color: $color-buttons;
                font-weight: 600;

            }
        }
    }
    &__bottom {
        width: 96%;
        margin-inline: 2%;
        display: flex;

        & section {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-inline: 10px;
            

            & article {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: center;

                & small {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-buttons;
                    cursor: pointer;
                }
                .firstCircle {
                    background-color: $color-titles;
                }
            }
        }

        & figcaption {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 50%;
            padding-inline: 10px;

            & strong {
                font-size: 22px;
                font-weight: 600;
                color: $color-titles;
            }
            

            & p {
                font-size: 16px;
                font-weight: 500;
                color: $color-secondary;
                line-height: 22px;
                text-transform: capitalize;
            }
            & button {
                height: 55px;
                border: none;
                background-color: $color-buttons;
                border-radius: 8px;
                width: 258px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-weight: 700;
                font-size: 18px;
                color: $color-primary;
                cursor: pointer;

            }
        }
    }

}