.components3D {
    position: absolute;
    width: 80%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 0;
    margin: -10% 10%;

    

    &__id,
    &__shooting,
    &__key,
    &__clothe,
    &__edit,
    &__inform,
    &__pictures,
    &__map {
        position: absolute;

    }
    &__clothe {
        top: -35%;
    }
    &__id {
        left: 0;
        bottom: 10%;
    }
    &__shooting, &__key {
        left: 20%;

    }
    &__shooting, &__inform {
        top: 0;
    }
    &__key, &__edit, &__pictures {
        bottom: 18%;
    }
    &__map {
        right: 0;
    }
    &__inform {
        right: 15%;
        top: -5%;
    }
    &__pictures {
        right: 25%;
        bottom: 10%;
    }
    &__edit {
        left: 40%;
    }
    &__map {
        bottom: 25%;
    }
  
   
}
@media(max-width : 900px){
    .components3D {
        width: 100%;
        margin: 0;
        height: 200px;
        bottom: -10%;


        &__map, &__id {
            display: none;
        }

        &__shooting {
            left: 0;
            width: 105px;
            height: 94px;
        }
        &__key {
            left: 5%;
            bottom: 0;
            width: 109px;
        }
        &__inform {
            // right: -12%;
            width: 124px;
            height: 141px;
        }
        &__pictures {
            right: 0;
            bottom: -10%;
            width: 131px;
        }
        &__clothe {
            width: 312px;
            // top: -70%;
            top: -50%;
        }
        &__edit {
            width: 98px;
            bottom: 10%;
        }

    }
}