.components3D {
    position: absolute;
    width: 80%;
    height: 380px;
    margin: -8% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 0;

    

    &__id,
    &__shooting,
    &__key,
    &__clothe,
    &__edit,
    &__inform,
    &__pictures,
    &__map {
        position: absolute;

    }
    &__clothe {
        top: -35%;
    }
    &__id {
        left: 0;
        bottom: 10%;
    }
    &__shooting, &__key {
        left: 20%;

    }
    &__shooting, &__inform {
        top: 0;
    }
    &__key, &__edit, &__pictures {
        bottom: 18%;
    }
    &__map {
        right: 0;
    }
    &__inform {
        right: 15%;
        top: -5%;
    }
    &__pictures {
        right: 25%;
        bottom: 10%;
    }
    &__edit {
        left: 40%;
    }
    &__map {
        bottom: 25%;
    }
  
   
}