nav {
    width: 100%;

    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        

        & li {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
        }
    }

}