.ourClients {
    width: 80%;
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 10px;

    & strong {
        color: #152E3D;
        font-size: 28px;
        font-weight: 700;
    }

    & figure {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 2px;

        & img {
            width: 50%;
        }

     
    }
    hr {
        width: 95%;
        margin: 0 2.5%;
        height: 2px;
        border: none;
        background-color: #58B59F;
    }
}